  /*HEADING*/
  .banner-heading {
    display: block;
    float: left;
    margin-top: -20px;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 75px;
  }
  .banner-heading li {
    color: #006599;
    list-style: none;
    line-height: 0.5em;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    text-align: left;
  }
  /*BANNER COPY*/
  .banner-copy {
    float: left;
    width: 38%;
    margin-top: 0px;
    padding: 0px;
    line-height: 15px;
  }
  .banner-copy li {
    list-style: none;
    }
  .banner-copy li:first-child {
    font-weight: bold;
    }
    #banner-event-title {
    font-style: italic;
    }
  /*NAVIGATION*/
  .navigation-links {
    font-weight: bold;
    float: left;
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: -275px;
    padding: 0px;
    }
  .navigation-links li {
    display: inline;
    padding-left: 1em;
    list-style: none;
    }

  /*SIDEBAR*/
  /*CONTAINER*/
  .sidebar-container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: -260px;
    margin-right: 200px;
    margin-left: -230px;
    width: 200px;
  }
  /*THANK YOU STYLE*/
  .thank-you-container {
    width: 200px;
    display: block 0 auto;
    margin-top: 225px;
    margin-right: 15px;
  }
  .thank-you-box {
    border: 5px solid #007399;
    box-sizing: border-box;
    border-collapse: collapse;
    color:#666666;
    font-style: sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin: 37px;
    padding: 15px;
    text-transform: uppercase;
  }

  /*SPONSORS STYLE*/
  .sponsor-container {
    display: column;
    margin: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
  }
  .sponsor-category-heading {
    display: inline-block;
    font-size: 17.5px;
    font-weight: bold;
    color: #006599;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .sponsor-logo {
    align-items: center;
    padding-bottom: none;
  }
  .sponsor-logo img {
    width:  100px;
    height: auto;
    /* margin-left: 6px; */
  }
  /*BODY*/
  /*CONTENT AREA*/
  .main-content {
    float: left;
    width: 650px;
    margin-top: -1350px;
  }
  .main-content li {
    margin-left: 20px;
    line-height: 1.3em;
  }
  /* HEADING */
  .heading {
    border-bottom: none;
    color: #006599;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: .5px;
    }
  /* REGISTRATION */
  .registration-category {
    display: block 0 auto;
    margin-bottom: 15px;
    }
  .registration-category table td {
    width: 600px;
    border: 1px solid black;
    box-sizing: border-box;
    border-collapse: collapse;
    cellpadding: 0;
    cellspacing: 0;
    margin-left: none;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 6px;
    }
  .registration-category .heading {
    margin-top: 20px;
    margin-bottom: none;
    margin-left: none;
    }
  .registration-fee {
    font-size: 11px;
    margin-top: none;
    margin-bottom: 15px;
    }
  /* HOTEL */
  .large-hotel-image {
    margin-left: -20px;
    height: 250px;
    width: 550px;
    padding-bottom: 30px;
    }
  .large-hotel-image img {
    padding-top: 20px;
    }
  .hotel-copy {
    margin-bottom: 10px;
    }
  .hotel-information {
    display: flex;
    margin-left: -20px;
    padding-bottom: none;
    margin-bottom: -15px;
    }
  .hotel-image {
    align-items: center;
    padding-bottom: none;
    }
  .hotel-image img {
    height: 165px;
    width: 250px;
    }
  .hotel-location {
    align-items: center;
    list-style: none;
    padding-left: 15px;
    padding-top: 40px;
    }
  .hotel-location li:first-child {
    font-weight: bold;
    }
  /* RESERVATION */
  .reservation-message {
    margin-top: -15px;
    }
