/*CONTANCT INFO*/
    }
    .contact-info {
      float: left;
      margin-top: 200px;
    }
    .contact-info li {
      list-style: none;
    }
    .contact-info li:first-child {
      font-weight: bold;
      color:#006599;
      margin-bottom: 10px;
    }


    /*THANK YOU STYLE*/
    .thank-you-container {
      width: 200px;
      display: block 0 auto;
      margin-top: 225px;
      margin-right: 15px;
    }

    .thank-you-box {
      border: 5px solid #007399;
      box-sizing: border-box;
      border-collapse: collapse;
      color:#666666;
      font-style: sans-serif;
      font-size: small;
      font-weight: bold;
      text-align: center;
      margin: 37px;
      padding: 15px;
      text-transform: uppercase;
    }

    /*SPONSORS STYLE*/
    .sponsor-container {
      display: column;
      margin: 10px;
      margin-bottom: 15px;
    }
    .sponsor-category-heading {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      color: #006599;
      margin-bottom: 10px;
      margin-left: 15px;
    }
    .sponsor-logo {
      align-items: center;
      padding-bottom: none;
    }
    .sponsor-logo img {
      width:  175px;
      height: 50px;
      margin-left: 6px;
    }

    /*OTHER TRADE WORKSHOPS BOX STYLE*/
    .other-workshops-container {
      display: column;
      margin: 10px;
    }
    .other-workshops-box {
      box-sizing: border-box;
      border-collapse: collapse;
      border: 5px solid #006599;
      padding: none;
      margin: 10px;
    }
    .other-workshops-box li {
      line-height: 1.2em;
      list-style: none;
      margin-left: -15px;
    }
    .other-workshops-title {
      font-weight: bold;
      line-height: 1.2em;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
